.ewk_cont_banner{
    /* No importa el dispositivo, tomara el alto total de la pantalla */
    height: 100vh;
    /* que la imagen de fondo se quede fija */
    background-attachment: fixed;
    /* centra la imagen */
    background-position: center;
    /* que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* que tome el valor original de la imagen */
    background-size: cover;
    background-image: url("../img/vangogh.jpg")
}
.ewk_sombra{
    position: absolute;
    /* para que flote el elemento y se vea en medio */
    left: 50%;
    top: 50%;
    /* ms y webkit para abarcar safari, opera, ie y que se vea bien */
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
}
.ewk_sombra hr{
    /* la rayita */
    border-top: 1px solid #D9B310;
}
.ewk_sombra h1{
    font-size: 8vw;
    margin-bottom: 10px;
}
.ewk_sombra P{
    font-size: 4vw;
    margin-bottom: 10px;
}
.ewk_cont_banner_link{
    margin: 15px;
    position: relative;
}
.ewk_cont_banner_link a{
    /* se le agrego la posicion para que funcionara la animacion
    ewk_keyframes_aparecer_de_arriba, ya que esta usaba la propiedad top,
    y si no se definia position no funcionaba */
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}
.ewk_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
}
.ewk_baner_link{
    opacity: 0;
    /* la que se hizo en keyframes.css */
    animation: ewk_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: ewk_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}
.ewk_baner_link_1{
    opacity: 0;
    animation: ewk_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: ewk_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.ewk_baner_link_2{
    opacity: 0;
    animation: ewk_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: ewk_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}